/*
@font-face {
    font-family: "Computer Modern";
    src: url('ComputerModern/cmunss.ttf');
}
@font-face {
    font-family: "Computer Modern";
    src: url('ComputerModern/cmunsx.ttf');
    font-weight: bold;
}
@font-face {
    font-family: "Computer Modern";
    src: url('ComputerModern/cmunsi.ttf');
    font-style: italic, oblique;
}
@font-face {
    font-family: "Computer Modern";
    src: url('ComputerModern/cmunbxo.ttf');
    font-weight: bold;
    font-style: italic, oblique;
}
*/

@import url("ComputerModern/sans/cmun-sans.css");
@import url("ComputerModern/serif/cmun-serif.css");

body {
    font-family: "Computer Modern Sans", sans-serif;
    font-size: 18px;
    color: #444;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2
}

em {
    font-weight: normal;
    font-style: italic;
}

.wrapper {
    
    max-width: 650px;
    margin: 40px auto;
    line-height: 1.6;
}

blockquote {
    border-left: 2px solid #bbbbbb;
    padding-left: 15px;
}

.katex {
    /* Make math only 10% bigger instead of 20% bigger (default) */
    font-size: 1.1em;
}

.epigraph > .epigraph-citation {
    text-align: right;
}

.epigraph > .epigraph-citation:before {
    /* This inserts an emdash and a non-break space before the citation:
   */
    content: "\2014 \00a0";
}
