/*
@font-face {
    font-family: "Computer Modern";
    src: url('ComputerModern/cmunss.ttf');
}
@font-face {
    font-family: "Computer Modern";
    src: url('ComputerModern/cmunsx.ttf');
    font-weight: bold;
}
@font-face {
    font-family: "Computer Modern";
    src: url('ComputerModern/cmunsi.ttf');
    font-style: italic, oblique;
}
@font-face {
    font-family: "Computer Modern";
    src: url('ComputerModern/cmunbxo.ttf');
    font-weight: bold;
    font-style: italic, oblique;
}
*/

@import url("ComputerModern/sans/cmun-sans.css");

body {
    font-family: "Computer Modern Sans", sans-serif
}

em {
    font-weight: normal;
    font-style: italic;
}

.wrapper {
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
}

blockquote {
    border-left: 2px solid #bbbbbb;
    padding-left: 15px;
}

.epigraph > .epigraph-citation {
    text-align: right;
}

.epigraph > .epigraph-citation:before {
    /* This inserts an emdash and a non-break space before the citation:
   */
    content: "\2014 \00a0";
}
